################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Homework__06.12.22/FileContentIndex
/.vs
/Zadacha__№19/obj
